body { 
    font-family: 'Bebas', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.total-container {
    display: flex;
    margin: 0;
    padding: 10px;
    background-color: #ffffff;
}

.container {
    display: flex;
    width: 100%;
}

/* Sidebar */
.sidebar {
    width: 230px;
    height: 98%;
    background-color: #f0efef;
    padding: 10px;
    padding-top: 10px;
    margin-left: 10px;
    border-radius: 0px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar-profile-name {
    text-align: center; 
    margin-bottom: 20px;
}

.sidebar-img img {
    align-items: center;
    width: 70px; 
    height: 70px;
    padding-left: 70px;
    padding-top: 20px;
    border-radius: 50%; 
    object-fit: cover;
}

.sidebar h2 {
    text-align: center;
    font-size: 18px;
    color: #0b5aaf;
    margin: 10px 0;
}

.sidebar-text p {
    text-align: center;
    color: #007bff;
    font-size: 10px;
    text-decoration: underline;
    text-decoration-color: #007bff;
}

.sidebar-items ul {
    list-style: none;
    padding: 10px;
}

.sidebar-items ul li {
    margin: 15px 0;
    font-size: 16px;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    padding: 10px;
    padding-inline: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}

.sidebar-items ul li img {
    width: 25px; 
    height: 25px;
    border-radius: 10%;
    margin-right: 15px;
}

.sidebar-items ul li:hover {
    background-color: #89b0eb;
}

.sidebar-items ul li.active {
    background-color: #007bff;
    color: #fff;
}

/* Doctors Card */
.content {
    margin: 20px;
    width: 100%;
}

/* Search Doctor and Department */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header input {
    padding: 10px;
    font-size: 16px;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.header button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Card */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.card h3 {
    margin: 10px 0;
}

.card p {
    color: #666;
    margin: 5px 0;
}

.card .stars {
    color: #f39c12;
    margin: 10px 0;
}

.card button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}