<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}  
    <title>{% block title %}HealthCare{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <!-- Header Section -->
    <header>
        
    </header>

    <!-- Main Content Section -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer Section -->
    <footer>
        <!-- <p>&copy; 2025 HealthCare. All rights reserved.</p> -->
    </footer>

    {% block extra_js %}{% endblock %}
</body>
</html>
