{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Appointment Form</title>
    <link rel="stylesheet" href="{% static 'css/doctor_appoinment.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Baloo&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Top Layer with Logo & User Name -->
    <div class="total-container">
        <div class="sidebar">
            <div class="sidebar-img">
               <!-- Example usage of static path for an image -->
               <img src="{% static 'images/doctor_profile.svg' %}" alt="User">
            </div>
            <h2>{{fhir_data.name.0.given.0}} {{fhir_data.name.0.family}}</h2>
            <div class="sidebar-text">
               <p>nushrat7xx7@gmail.com</p>
            </div>
            <div class="sidebar-items">
                <ul>
                    <a href="{% url 'Hapi:dashboard' %}"> 
                        <li>
                           <img src="{% static 'images/dashboard-icon.svg' %}" alt="Dashboard Icon"> 
                              Dashboard
                        </li>
                     </a>
                     <a href="{% url 'Hapi:request_appointment' %}"> 
                        <li>
                            <img src="{% static 'images/doctor-appointment-icon.svg' %}" alt="Appointment Icon"> 
                                Doctor Appointments 
                        </li>
                    </a>
                    <li>
                        <img src="{% static 'images/doctors-list.svg' %}" alt="Doctors List Icon"> 
                        <a href="doctors-list.html"> Doctors </a>
                    </li>
                    <li>
                        <img src="{% static 'images/pill-icon.svg' %}" alt="Medication Icon"> 
                        <a href="medication.html"> Medication</a>
                    </li>
                    <li>
                        <img src="{% static 'images/report-file-icon.svg' %}" alt="Lab Icon"> 
                        <a href="lab.html"> Lab </a>
                    </li>
                    <li>
                        <img src="{% static 'images/profile-icon.svg' %}" alt="Profile Icon">
                        <a href="patient-profile.html"> Profile</a>
                    </li>
                    <li>
                        <img src="{% static 'images/settings-icon.svg' %}" alt="Settings Icon"> 
                        <a href="settings.html"> Settings</a>
                    </li>
                    <a href="{% url 'Hapi:logout' %}" style="color: #4dabf7;"> 
                        <li>
                            <img src="{% static 'images/logout-icon.svg' %}" alt="Logout Icon"> 
                            Logout 
                        </li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="top-bar">
                <div class="logo">
                    <img src="{% static 'images/doctor.png' %}" alt="CDS Care Logo">
                    <span>CDS Care</span>
                </div>
                <div class="user-name">
                    <span id="user">Nushrat</span>
                </div>
            </div>
        
            <div class="content">
                <div class="form-header">
                    <div class="form-title">
                        <h2>Doctor Appointment Form</h2>
                    </div>
                    
                    <p>Fill the form below and we will get back soon to <br>
                        you for more updates and plan your <br>
                        appointment.</p>
                </div>
                <div class="form-body">
                    <div class="doctor-img">
                        <img src="{% static 'images/doctor.png' %}" alt="Doctor Illustration">
                    </div>
                    <form>
                        <!-- Name -->
                        <label for="name">Name</label>
                        <div class="name-fields">
                            <div class="input-group">
                                <input type="text" id="name" placeholder="Enter Name" required>
                            </div>
                        </div>
                        <br>
        
                        <!-- Doctor's Name -->
                        <label for="doctor-name">Doctor's Name</label>
                        <div class="doctor-name-box">Dr. Nushrat Zahan</div>
                        <br>
        
                        <!-- Doctor's Speciality -->
                        <label for="doctor-speciality">Doctor's Speciality</label>
                        <div class="doctor-speciality-box">Cardiologist</div>
                        <br>
        
                        <!-- Doctor's Qualification -->
                        <label for="education">Doctor's Qualification</label>
                        <div class="doctor-qualification-box">MBBS, FCPS - MD (Medicine), MCPS</div>
                        <br>
        
                        <!-- Doctor's Email -->
                        <!-- <label for="email">Doctor's Email</label>
                        <div class="doctor-email-box">nushrat7xx7@gmail.com</div>
                        <br>
                         -->
                        <!-- Preferred Appointment Date & Time -->
                        <div class="form-group">
                            <label for="appointment-date">Preferred Appointment Date</label>
                            <input type="date" id="appointment-date" name="appointment-date">
                        </div>
                        <br>
        
                        <div class="form-group">
                            <label for="appointment-time">Preferred Time</label>
                            <select id="appointment-time" name="appointment-time">
                                <option>5:00 PM</option>
                                <option>5:30 PM</option>
                                <option>6:00 PM</option>
                                <option>6:30 PM</option>
                                <option>7:00 PM</option>
                                <option>7:30 PM</option>
                                <option>8:00 PM</option>
                                <option>8:30 PM</option>
                                <option>9:00 PM</option>
                                <option>9:30 PM</option>
                                <option>10:00 PM</option>
                            </select>
                        </div> 
                        <br>
                        
                        <!-- Comment -->
                        <label for="comment">Comment</label>
                        <textarea id="comment" rows="3"></textarea>               
        
                        <!-- Submit Button -->
                        <button type="submit">Confirm Appointment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>