{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Patient Dashboard</title>
      <link rel="stylesheet" href="{% static 'css/patient_dashboard.css' %}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Serif+Khojki&display=swap">
   </head>
   <body>
      <!-- Sidebar -->
      <div class="container">
         <div class="sidebar">
            <div class="sidebar-img">
               <!-- Example usage of static path for an image -->
               <img src="{% static 'images/doctor_profile.svg' %}" alt="User">
            </div>
            <h2>{{fhir_data.name.0.given.0}} {{fhir_data.name.0.family}}</h2>
            <div class="sidebar-text">
               <p>nushrat7xx7@gmail.com</p>
            </div>
            <div class="sidebar-items">
               <ul>
                  <a href="{% url 'Hapi:dashboard' %}"> 
                     <li>
                        <img src="{% static 'images/dashboard-icon.svg' %}" alt="Dashboard Icon"> 
                           Dashboard
                     </li>
                  </a>
                  <li>
                     <img src="{% static 'images/doctor-appointment-icon.svg' %}" alt="Appointment Icon"> 
                     <a href="{% url 'Hapi:request_appointment' %}"> Doctor Appointments </a>
                  </li>
                  <a href="{% url 'Hapi:doctor-list' %}"> 
                     <li>
                        <img src="{% static 'images/doctors-list.svg' %}" alt="Doctors List Icon"> 
                           Doctors 
                     </li>
                  </a>
                  <li>
                     <img src="{% static 'images/pill-icon.svg' %}" alt="Medication Icon"> 
                     <a href="medication.html"> Medication</a>
                  </li>
                  <li>
                     <img src="{% static 'images/report-file-icon.svg' %}" alt="Lab Icon"> 
                     <a href="lab.html"> Lab </a>
                  </li>
                  <li>
                     <img src="{% static 'images/profile-icon.svg' %}" alt="Profile Icon">
                     <a href="patient-profile.html"> Profile</a>
                  </li>
                  <li>
                     <img src="{% static 'images/settings-icon.svg' %}" alt="Settings Icon"> 
                     <a href="settings.html"> Settings</a>
                  </li>
                  <a href="{% url 'Hapi:logout' %}" style="color: #4dabf7;"> 
                     <li>
                        <img src="{% static 'images/logout-icon.svg' %}" alt="Logout Icon"> 
                           Logout 
                     </li>
                  </a>
               </ul>
            </div>
         </div>
         <!-- Dashboard with Search Bar -->
        <div class="content">
            <div class="header">
               <div class="dashboard-display">
                  <div class="search-container">
                     <input type="text" placeholder="Search Doctor">
                  </div>
                  <div class="icons">
                     <div class="icon-link">
                        <img src="{% static 'images/email-icon.svg' %}" alt="Email Icon">
                     </div>
                     <div class="icon-link">
                        <img src="{% static 'images/notification-icon.svg' %}" alt="Notification Icon">
                     </div>
                  </div>
               </div>
            </div>
            <!-- Intro, booking count, find specialist -->
            <div class="mid">
               <!-- Intro + Booking Count -->
               <div class="intro-book">
                  <!-- Intro -->
                  <div class="main-content">
                     <section class="intro">
                        <div class="intro-text">
                           <h2>Experience Trusted & Exceptional <span class="treat">Healthcare Services</span></h2>
                           <p>We provide the best care & response for  <br>your health problems.</p>
                           <button class="book-appointment">Book Appointment</button>
                        </div>
                        <div class="intro-image">
                           <img src="{% static 'images/patient-intro-image.svg' %}" alt="Intro Image">
                        </div>
                     </section>
                  </div>
                  <!-- Booking Count Layer -->
                  <div class="booking-summary">
                     <div class="card">
                        <div class="icon" style="background-color: #ec7794;">
                           <img src="{% static 'images/total-booking.svg' %}" alt="Total Booking">
                        </div>
                        <div class="booking-text">
                           <h3>33</h3>
                           <p>Total Booking</p>
                        </div>
                     </div>
                     <div class="card">
                        <div class="icon" style="background-color: #4dabf7;">
                           <img src="{% static 'images/booking-success.svg' %}" alt="Booking Success">
                        </div>
                        <div class="booking-text">
                           <h3>22</h3>
                           <p>Booking Success</p>
                        </div>
                     </div>
                     <div class="card">
                        <div class="icon" style="background-color: #22b8cf;">
                           <img src="{% static 'images/booking-cancel.svg' %}" alt="Booking Cancel">
                        </div>
                        <div class="booking-text">
                           <h3>12</h3>
                           <p>Booking Cancel</p>
                        </div>
                     </div>
                  </div>
                  <div class="treatment-appointment">
                     <!-- Ongoing Treatment -->
                     <div class="treatment-section">
                        <h2>Ongoing Treatment</h2>
                        <div class="treatment-card">
                           <div class="icon" style="background-color: #86becf;">
                              <img src="{% static 'images/pill-icon.svg' %}" alt="Pill">
                           </div>
                           <div class="details">
                              <h3>Slimvastatin</h3>
                              <p>5 mg, Take 1 with food</p>
                              <p>Prescribed by: <a href="dr-nushrat-profile.html">Dr. Nushrat</a></p>
                              <button class="history-button">Medication History</button>
                           </div>
                           <div class="duration">
                              <p>2 Months</p>
                           </div>
                        </div>
                        <button class="see-all-treatment">See Details</button>
                     </div>
                  </div>
                  <!-- Reports Section -->
                  <div class="reports-section">
                     <h2>Reports</h2>
                     <table>
                        <thead>
                           <tr>
                              <th>#</th>
                              <th>File</th>
                              <th>Reports Link</th>
                              <th>Date</th>
                              <th>Actions</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>1</td>
                              <td>
                                 <img src="{% static 'images/report-file-icon.svg' %}" alt="File Icon">
                              </td>
                              <td><a href="#">Blood Report</a></td>
                              <td>May-28, 2024</td>
                              <td>
                                 <button class="delete-btn">
                                 <img src="{% static 'images/delete-icon.svg' %}" alt="Delete Icon">
                                 </button>
                                 <button class="download-btn">
                                 <img src="{% static 'images/download-icon.svg' %}" alt="Download Icon">
                                 </button>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <div class="right">

                   <!-- Find Specialist -->
                   <div class="specialist-list">
                       <h2>Find Specialist</h2>
                       <p>Choose your category</p>
                       <div class="specialist-card">
                           <div class="icon" style="background-color: #ffe3e3;">
                               <img src="{% static 'images/dentist.svg' %}" alt="Dentist">
                            </div>
                            <div class="details">
                                <h3>Dentist</h3>
                                <p>120 Available</p>
                            </div>
                            <div class="arrow">
                                <a href="dentist-page.html">
                                    <img src="{% static 'images/arrow-icon.svg' %}" alt="Arrow">
                                </a>
                            </div>
                        </div>
                        <div class="specialist-card">
                            <div class="icon" style="background-color: #e3f2fd;">
                        <img src="{% static 'images/cardiologist.svg' %}" alt="Cardiologist">
                     </div>
                     <div class="details">
                         <h3>Cardiologist</h3>
                         <p>100 Available</p>
                        </div>
                        <div class="arrow">
                            <a href="cardiologist-page.html">
                                <img src="{% static 'images/arrow-icon.svg' %}" alt="Arrow">
                            </a>
                        </div>
                    </div>
                    <div class="specialist-card">
                        <div class="icon" style="background-color: #e8eaf6;">
                            <img src="{% static 'images/general-physician.svg' %}" alt="General Physician">
                        </div>
                        <div class="details">
                            <h3>General Physician</h3>
                            <p>80 Available</p>
                        </div>
                        <div class="arrow">
                            <a href="physician-page.html">
                                <img src="{% static 'images/arrow-icon.svg' %}" alt="Arrow">
                            </a>
                        </div>
                    </div>
                    <button class="see-all">See All</button>
                </div>

                <!-- Timeline -->
                <div class="timeline-container">
                    <h2>Timeline</h2>
                    <div class="timeline-section">
                        <div class="timeline">
                            <div class="timeline-item">
                                <div class="circle"></div>
                                <div class="content">
                                    <p class="time">AN HOUR AGO</p>
                                    <hr>
                                    <p><a href="#">Dr. Janie Mcdonald</a> - sent a new prescription.</p>
                                    <p>Medicine Name - <span class="highlight">Amocvmillin</span></p>
                                    <p><a href="#" class="link">Medication Link ↗</a></p>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="circle"></div>
                                <div class="content">
                                    <p class="time">AN HOUR AGO</p>
                                    <hr>
                                    <p><a href="#">Dr. Hector Banks</a> - uploaded a report.</p>
                                    <p>Report Name - <span class="highlight">Lisymorpril</span></p>
                                    <p><a href="#" class="link">Medication Link ↗</a></p>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="circle"></div>
                                <div class="content">
                                    <p class="time">AN HOUR AGO</p>
                                    <hr>
                                    <p><a href="#">Dr. Deena Cooley</a> - sent medicine details.</p>
                                    <p>Medicine Name - <span class="highlight">Predeymosone</span></p>
                                    <p><a href="#" class="link">Medication Link ↗</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    </div>
   </body>
</html>